In [57]:
#Dependencies
import pandas as pd

In [58]:
#Save path to data set in a variable 
main_file = "Resources/budget_data.csv"

In [71]:
#Using Pandas to read data
main_file_df = pd.read_csv(main_file)
main_file_df.head

<bound method NDFrame.head of         Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]>

The history saving thread hit an unexpected error (OperationalError('database is locked')).History will not be written to the database.

In [60]:
#Referecing the two columns
main_file_df[["Date", "Profit/Losses"]].head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [62]:
#The net total amount of "Profit/Losses" over the entire period
Total = main_file_df["Profit/Losses"].sum()
Total

38382578

In [61]:
#The total number of months included in the dataset
Total_Months = main_file_df["Date"].count()
Total_Months

86

In [70]:
#The greatest increase in profits (date and amount) over the entire period
Greatest_Increasein_Profit = main_file_df.nlargest(1, "Profit/Losses")
Greatest_Increasein_Profit

        Date  Profit/Losses
25  Feb-2012        1170593

In [72]:
#The greatest decrease in losses (date and amount) over the entire period
Greatest_Decreasein_Profit = main_file_df.nsmallest(1, "Profit/Losses")
Greatest_Decreasein_Profit

        Date  Profit/Losses
44  Sep-2013       -1196225

In [ ]:
main_file_df_to_csv("analysis.txt 'sep=\t')